<nav class="navbar navbar-expand-md navbar-dark fixed-top bg" style="background-color: 			#3b5998;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">Fakebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active text-white" aria-current="page" href="/"><i class="bi bi-house " style = "font-size: 2rem" ></i></a>
                  </li>
                   <li class="nav-item">
                  <%= link_to '<i class="bi bi-person" style = "font-size: 2rem"></i> '.html_safe,user_path(current_user[:id]), class: "nav-link active text-white" %>

                  
                  </li>
                  
                  <li class="nav-item">
                  
                  <%= link_to '<i class="bi bi-people" style = "font-size: 2rem"></i> '.html_safe,all_user_path, class: "nav-link active text-white" %>

                  </li>
        </ul>
        <ul>
                  <li class="navbar dropdown ms-auto mb-2 mb-lg-0">
                    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <% if user_signed_in? %>
                      <%=current_user.email%>
                      <% else %>
                      Click to Choose
                      <% end %>
                    </a>
                    <ul class="dropdown-menu">
                        <%=link_to "Login", new_user_session_path,class: "dropdown-item"%>
                       <%=link_to "Sign-UP", new_user_registration_path,class: "dropdown-item"%>
                      <%=link_to "Logout", destroy_user_session_path, method: :delete,class: "dropdown-item"%>
                      
                      <li><hr class="dropdown-divider"></li>
                      <li>   <%=link_to current_user.name, edit_user_registration_path(:id=> current_user.id),class: "dropdown-item"%> </li>
                    </ul>
                  </li>
                  
        </ul>
      
    </div>
  </div>
</nav>