<p id="notice"><%= notice %></p>


<h1><%= @post.name %></h1><br><br>

<p>
<%= @post.description %>
</p>

<p>
<%= image_tag @post.image%>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> 
<%= link_to 'Back', posts_path %>

          <% like = current_user.likes.find_by(post: @post) %>
          <% if like.nil? %>
          <%=button_to "Like",likes_path(post_id: @post[:id]) %>
          <%else%>  
          <%=button_to "Unlike",like_path(post_id: @post[:id]), method: :delete %>
          <%end%>
          <%= @post.likes.count %>



      <h2>Comments</h2>
           <% @post.comments.each do |comment|%>
             <p>
               <strong>Commenter:</strong>
                <%=comment.user.email%>
            </p>
            <p>
              <strong>Comment:</strong>
                <%= comment.content%>
            </p>

            <p>
                <%= link_to "Delete comment","/posts/#{comment[:post_id]}/comments/#{comment[:id]}", data:{turbo_method: :delete, turbo_confirm: "Are u suresfdwefwearw?"}%>
                <%end%>
            </p>



          <h2>Add a Comment</h2>
             <%= form_with model: [@post, @post.comments.build] do |form |%>

              <%# <p> %>
                <%# <%= form.label :commenter %> 
                <%# <%= form.text_area :commenter%> 
              <%# </p> %>

              <p>
                <%=form.label :content%>
                <%= form.text_area :content%>
                <% form.hidden_field :user_id, value: current_user[:id] %>
              </p>
              <p>
                <%= form.submit%>
              </p>
          <%end%>
